.header_style {
    height: 65px;
    width:100%;
    z-index: 999;
    position: fixed;
    display: flex;
    background-color: var(--secondary-100);
    font-size: 1.2rem;
    padding: 5px 15px;

    @media (max-width: 1280px) {
        height: 90px;

    }
    
    .logo-wrap{
        display: block;
        text-align: center;
        &-icon{
            margin-bottom: -12px;
            path {
                fill: var(--primary-1000);
            }           
        }
        &-name{
            color: var(--primary-1000);
        }
    }
    
}