.username{
    font-size: 0.9rem;
    position: absolute;
    top: 10%;
    left: 92%;
    background-color: rgb(211, 211, 87);
    border-radius: 5px;
    padding: 1px;
    // border: 2px solid rgb(234, 244, 96);

}

.user-logo{
    path {
        fill: var(--primary-1000);
    }
    width: 18px;
    margin-left: -50%;
}