body{
  --primary-100: rgba(221, 207, 191, 0.665);
  --primary-200: rgba(247, 175, 155, 0.973);
  --primary-250: rgba(253, 178, 97, 0.651);
  --primary-700: rgba(248, 107, 69, 0.973);
  --primary-800:rgba(240, 70, 23, 0.973);
  --primary-1000: rgba(246, 243, 242, 0.973);
  --secondary-50: rgb(255, 252, 252);
  --secondary-100: rgb(24, 224, 214);
  --secondary-200: rgb(223, 222, 222);
  --secondary-300: rgba(228, 228, 232, 0.694);
  --secondary-350: rgba(254, 254, 255, 0.893);
  --secondary-400: rgb(143, 142, 142);
  --secondary-1000: rgba(13, 13, 14, 0.912);
  /* --main-bg-color: rgba(237, 237, 241, 0.912); */
  --main-bg-color: rgba(255, 255, 255, 0.99);
  --image-placeholder: rgba(29, 29, 34, 0.113);
  --box-shadow-card: rgba(156, 155, 155, 0.3);
  --box-shadow-header: rgba(71, 71, 71, 0.404);
}

body[data-theme="dark"] {
  --primary-100: rgba(248, 226, 203, 0.642);
  --primary-200: rgba(247, 175, 155, 0.973);
  --primary-700: rgba(167, 97, 77, 0.89);
  --primary-800:rgba(255, 255, 255, 0.973);
  --primary-1000: rgba(163, 62, 34, 0.973);
  --secondary-50: rgba(134, 136, 140, 0.936);
  --secondary-100: rgba(206, 205, 205, 0.673);
  --secondary-200: rgb(223, 222, 222);
  --secondary-300: rgba(228, 228, 232, 0.694);
  --secondary-350: rgba(124, 126, 131, 0.909);
  --secondary-400: rgb(143, 142, 142);
  --secondary-1000: rgba(13, 13, 14, 0.912);
  --main-bg-color: rgba(100, 100, 105, 0.912);
  --image-placeholder: rgba(29, 29, 34, 0.113);
  
}

.app{
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-bg-color);
}

  .app-body{
    width: 100%;
    padding: 0 15px;
    margin: 100px auto;
  }



