
* {
  --logo-orange: rgba(190, 50, 11, 0.973);
  --header-grey: rgba(233, 232, 232, 0.967);;
  --text-color: rgb(240, 255, 255);
  --main-bg-color: rgba(56, 56, 63, 0.912);
  --image-placeholder: rgba(29, 29, 34, 0.113);
  --text-black: rgba(13, 13, 14, 0.912);
}

.app{
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-bg-color);
  
}

  .app-body{
    max-width: 1170px;
    padding: 0 15px;
    margin: 100px auto;
  }



