.search-field-container{
    display: flex;
    width: 30%;
    height: 100%;
    padding: 5px;
    align-items: center;
    margin-right: 2%;
    border-right: 1px solid #e6eaea;
    //заменить цвет на общий

        input{
            background-color: var(--secondary-350);
            font-family: 'DM Sans', sans-serif;
            color: var(--secondary-text-color);
        }
        label{
            margin-right: 2%;
            text-transform: uppercase;
            font-size: 0.8rem;
            color: var(--text-color);

        }
        ::-webkit-input-placeholder {
            color:    var(--secondary-400);
        }
    .search-field-input{
        font-size: 0.9rem;
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        border-radius: 0.3rem;
        padding: 5px;
        outline: none;
        font-size: 1rem;
    }

}
