.cards-filter-wrap{
    max-width: 300px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    label{ margin-bottom: 10px;}
    
    .select-limit-wrap{
        display: flex;
        flex-direction: column;
        .select-limit{
            border: 1px solid transparent;
            height: 40px;
            padding: 5px;
            font-size: 0.9rem;
            outline: none;
            margin-bottom: 15px;
        }
    }
}