.navigation-wrap{
    margin: auto;
    width: 88%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
        :not(:last-child){margin-right: 20%;}

}

.navigation-list{

    &.gallery{
        margin-left: 6%;
        display: flex;
        flex-direction: row; 
    }
    &.auth{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .auth-navigation-link{
        color: var(--secondary-1000);
        font-size: 1rem;
        line-height: 30px;

        &:hover {
            color: var(--primary-800);
            transition: 0.2s;
        }
        &:active {
            color: var(--primary-800);
            transition: 0.2s;
        }
    }
        .active-auth {
            color: var(--primary-800);

        }
    }

    .gallery-navigation-link{
        font-size: 1.1rem;
        color: var(--secondary-1000);
        text-decoration: none;
        transition: 0.2s;

        &:hover {
            border-bottom: 2px solid var(--primary-1000);
            transition: 0.2s;
        }
        &:active {
            transition: 0.2s;
        }
    }
        .active-gallery {
            color: var(--primary-1000);

        }



