.form-registration{
    // border: 1px solid red;
    width: 500px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondary-50);
}