.card-page-content{
        .card-button-wrap{
                width: 7%;
                height: 7%;
                position: fixed;
                margin: 4% 2% 2% 2%;

                    .back-arrow-icon{
                        path{
                            fill: var(--text-color);
                        }        
                        width: 35%;
                        height: 35%;
                    }
        }

        .card{
            width: 97%;
            margin: auto;

            .card-main-info-wrap{
                 width:40%;    
                 margin-right: -5%;   
                    &:hover{
                        box-shadow: none; 
                    }    
            }

            .card-additional-info_wrap {
                font-family: 'Poppins', sans-serif;
                    .card-elem{
                        font-family: 'Poppins', sans-serif;
                        .card-elem-name{
                            color: var(--text-black);
                            font-weight: 400;
                            font-size: 0.9rem;
                            margin-right: 5px;
                        }
                        .card-elem-text{
                            color: var(--text-black);
                            font-weight: 300;
                            font-size: 0.9rem;
                            margin-right: 5px;
                        }
                    }
            }

        }
}



