
        .card-wrap {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 350px;
            height: auto;
            border-radius: 5px;
            margin-bottom: 15px;
            :not(:last-child){
                margin-bottom: 5px;
            }
                :nth-last-child(1){
                margin-top: 20px;
        }
            border: 1px solid rgb(72, 50, 9);

            .card-elem {
                .card-elem title{
                    cursor: pointer;
                }
            }

        }
.card-additional-info_wrap{
    width: 40%;

}
.card-elem-name{
    color: var(--text-black);
    font-weight: 900;
    margin-right: 5px;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .card-additional-info {
        &.fun-fact{
            margin-bottom: 20px;
        }

}}