.card-wrap {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 46%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 15px;
            :not(:last-child){
                margin-bottom: 7px;
            }

        }
            .card-elem {
                &.title{        
                    font-size: 1.2rem;
                    color: var(--text-black);
                    width: 100%;
                    border-bottom: 1px solid;
                    border-color: var(--text-black);
}
        }
                .card-elem-name{
                    color: var(--text-black);
                    font-weight: 800;
                    margin-right: 5px;
                 }
        .bookmarks-wrap {  
                .icon-favourite {
                    font-size: 2.4rem;
                    transition: 0.8s;
                    position: absolute;
                    top: -170%;
                    left: 1950%;
                    &:hover{
                         transform: scale(1.2);;
                        }
                    &.marked{
                        path {fill : var(--primary-250)};

                      }
                    }               
              }

        .card-title-wrap{
                display: flex;
                 gap: 10%;
                //  position: relative;
                    .info-icon {
                        width: 10px;
                        height: 10px;
                    .info{
                        height: 10px;
                        }}
                }

        .card-additional-info_wrap{
            width: 40%;
        }

        .card{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            .card-additional-info {
                &.fun-fact{
                    margin-bottom: 20px;
                }
            }

        }
